mixin catalog()

  section.catalog
    .container
      h1.catalog__title Эвакуаторы в Москве
      p.catalog__text Список самых популярных Эвакуаторов в городе Москва.

      .catalog__list
        +card()
