.aside {
  @include vp-767 {
    display: none;
  }
}

.aside__list {
  position: sticky;
  top: size(30px);

  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr 1fr 1fr;
  @include vp-1023 {
    top: 30px;
  }
}

.aside__list a {
  display: block;
  padding: size(5px);

  font-weight: 600;
  font-size: size(18px);
  line-height: size(24px);
  text-align: center;
  color: $color-default-white;

  background-color: rgba($color-neon-blue, 0.9);
  border: size(2px) solid $color-default-black;
  border-radius: size(5px);

  transition: all $trans-default;

  @include vp-1023 {
    padding: 5px;

    font-size: 18px;
    line-height: 24px;

    border-width: 2px;
    border-radius: 5px;
  }
  @include hover-focus {
    background-color: $color-dark-brown;
  }
}

.aside__list.disable a {
  opacity: 0.5;

  pointer-events: none;
}
