mixin search-form()

  .search-form()
    form(method="GET")
      +custom-input({
        inputLabel: "Поиск по городам:",
        inputName: "search",
        inputLabelClass: "search-form__label",
      })().search-form__input

      button.search-form__button(type="submit", aria-label="search")
        +icon("icon-search", "12", "12")
