mixin slider()

  .swiper.slider
    .swiper-wrapper.slider__wrapper
      .swiper-slide.slider__item
        +picture("slides", "truck-1", "png", "200", "200", "машинка")
      .swiper-slide.slider__item
        +picture("slides", "truck-2", "png", "200", "200", "машинка")
      .swiper-slide.slider__item
        +picture("slides", "truck-3", "png", "200", "200", "машинка")
      .swiper-slide.slider__item
        +picture("slides", "truck-4", "png", "200", "200", "машинка")
      .swiper-slide.slider__item
        +picture("slides", "truck-5", "png", "200", "200", "машинка")
      .swiper-slide.slider__item
        +picture("slides", "truck-5", "png", "200", "200", "машинка")
