mixin modal-menu()

            ul
              li
                a(href="#city-a", data-trigger="#city-a", data-close-modal) А
              li
                a(href="#city-b", data-trigger="#city-b") Б
              li
                a(href="#city-v", data-trigger="#city-v") В
              li
                a(href="#city-g", data-trigger="#city-g") Г
              li
                a(href="#city-d", data-trigger="#city-d") Д
              li
                a(href="#city-e", data-trigger="#city-e") Е
              li
                a(href="#city-zh", data-trigger="#city-zh") Ж
              li
                a(href="#city-z", data-trigger="#city-z") З
              li
                a(href="#city-i", data-trigger="#city-i") И
              li
                a(href="#city-k", data-trigger="#city-k") К
              li
                a(href="#city-l", data-trigger="#city-l") Л
              li
                a(href="#city-m", data-trigger="#city-m") М
              li
                a(href="#city-n", data-trigger="#city-n") Н
              li
                a(href="#city-o", data-trigger="#city-o") О
              li
                a(href="#city-p", data-trigger="#city-p") П
              li
                a(href="#city-r", data-trigger="#city-r") Р
              li
                a(href="#city-s", data-trigger="#city-s") С
              li
                a(href="#city-t", data-trigger="#city-t") Т
              li
                a(href="#city-u", data-trigger="#city-u") У
              li
                a(href="#city-f", data-trigger="#city-f") Ф
              li
                a(href="#city-h", data-trigger="#city-h") Х
              li
                a(href="#city-c", data-trigger="#city-c") Ц
              li
                a(href="#city-ch", data-trigger="#city-ch") Ч
              li
                a(href="#city-sh", data-trigger="#city-sh") Ш
              li
                a(href="#city-eh", data-trigger="#city-eh") Э
              li
                a(href="#city-ju", data-trigger="#city-ju") Ю
              li
                a(href="#city-ja", data-trigger="#city-ja") Я
